/.vs
/.vs/PNCA_SheetLink/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/.vs/PNCA_SheetLink/v17/DocumentLayout.backup.json
/obj/Debug/PNCA_SheetLink.csproj.AssemblyReference.cache
/obj/Debug/PNCA_SheetLink.csproj.CoreCompileInputs.cache
/obj/Debug/PNCA_SheetLink.csproj.GenerateResource.cache
/obj/Debug/PNCA_SheetLink.dll
/obj/Debug/PNCA_SheetLink.pdb
/obj/Debug/PNCA_SheetLink_MarkupCompile.cache
